# Local environment / secrets
.env
.env.local
*.local

# Logstash runtime data
data/
queue/

# OS / editor cruft
.DS_Store
*.swp

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
